@page
@model TestCreator.Pages.AddPageElementModel
@{
}

<div class="container">

    <form method="post">
        <label for="PageName" class="form-label">Page Name</label>

        <select class="form-select" aria-label="Default select example" id="PageName" asp-for="PageElement.PageID" required>
            @foreach (var pageID in Model.Pages)
            {
                <option value="@pageID.ID">@pageID.PageName</option>
            }

        </select>

        <label for="PageName" class="form-label">Element Type</label>

        <select class="form-select" aria-label="Default select example" id="ElementName" asp-for="PageElement.ElementID" required>
            @foreach (var element in Model.ElementTypes)
            {
                <option value="@element.ID">@element.ElementName</option>
            }

        </select>


        <div class="mb-3" style="padding:10px">
            <button class="btn btn-success" type="submit">Submit</button>
        </div>

    </form>
</div>