@page
@model TestCreator.Pages.AutoFormModel
@{
    int counter=0;
}

<div class="container">

    <form method="post">

        <label for="FileName" class="form-label">Test Name:</label>
        <input type="text" class="form-control" id="TestName" name="Name">

            @foreach (var element1 in Model.Elements)
            {

                @foreach (var element in Model.ElementTypes){

                    @if (element1.ElementID==element.ID) {
                        
                    <label for="@element.ElementName" class="form-label">@element.ElementName</label>
                    <input type="text" class="form-control" id="@element.ElementName" name="@counter">
                    counter++;
                    }
                }
            }

    
            <center>
            <br><br>
            <button class="btn btn-success" type="submit" asp-page-handler="Edit" >Submit</button>
            </center>

    </form>
</div>