@page "{id:Guid}"
@model TestCreator.Pages.EditPageElementModel
@{
}

<div class="container">

    <form method="post">

        <label for="ID" class="form-label">ID</label>
        <input type="text" class="form-control" id="ID" asp-for="pageElements.ID" readonly>


        <label for="PageName" class="form-label">Page Name</label>

        <select class="form-select" aria-label="Default select example" id="PageName" asp-for="pageElements.PageNameID" required>
            @foreach (var pageID in Model.Pages)
            {
                <option value="@pageID.ID">@pageID.PageName</option>
            }

        </select>
        <label for="PageName" class="form-label">Element Type</label>
        <select class="form-select" aria-label="Default select example" id="ElementName" asp-for="pageElements.ElementTypeID" required>
            @foreach (var element in Model.ElementTypes)
            {
                <option value="@element.ID">@element.ElementName</option>
            }

        </select>


        <div class="mb-3 d-flex justify-content-between" style="padding:10px">
            <button class="btn btn-success" type="submit" asp-page-handler="Edit">Submit</button>

            <button class="btn btn-danger" type="submit" asp-page-handler="Delete">Delete</button>

        </div>

    </form>
</div>