@page
@model TestCreator.Pages.ElementTypeListModel
@{
    string Pname = "";
}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <td>Id</td>
                <td>Element Name</td>
                <td>Page Name</td>
                <td> </td>
            </tr>
        </thead>

        <tbody>
            @foreach (var types in Model.ElementTypes)
            {

                @foreach(var name in Model.PagesName){
                    if (types.PageNameID == name.ID)
                        Pname = name.PageName;
                }
                <tr>
                    <td>@types.ID</td>
                    <td>@types.ElementName</td>
                    <td>@Pname</td>
                    <td><center><a href="EditElementTypes/@types.ID" class="listBtn">View</a></center></td>
                </tr>

            }
        </tbody>
    </table>
</div>
