@page
@model TestCreator.Pages.PageNameListModel
@{
}

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <td>Id</td>
                <td>Page Name</td>
                <td> </td>
            </tr>
        </thead>

        <tbody>
            
            @foreach (var pages in Model.PagesName)
            {
               
                    <tr style="height:50px">
                        <td>@pages.ID</td>
                        <td>@pages.PageName</td>
                    <td><center><a href="EditPageName/@pages.ID" class="listBtn">View</a></center></td>
                    </tr>
                
            }
        </tbody>
    </table>
</div>
